# ==========================================
# Environment variables
# ==========================================
.env
.env.*
*.env

# ==========================================
# Python cache
# ==========================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================================
# Virtual environments
# ==========================================
venv/
.envs/
.venv/

# ==========================================
# Local data (DuckDB + logs)
# ==========================================
data/*.duckdb

# Logi działania pipeline
logs/

# ==========================================
# Raw data (opcjonalnie)
data/raw/

# ==========================================
# Processed data CSV
data/processed/

# ==========================================
# VSCode / editor
# ==========================================
.vscode/
*.code-workspace

# ==========================================
# OS junk
# ==========================================
Thumbs.db
.DS_Store
